.header {
  margin-block-end: var(--space-l);
}

.header *:focus-visible {
  outline: 10px solid var(--color-teal);
  outline-offset: 0.25rem;
  border-radius: 0.125rem;
}

.header nav {
  background-color: var(--color-yellow);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--space-m);
  padding-bottom: 0;
}

.header nav ul {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

// .nav__home {
//   justify-self: flex-start;
// }

.header a {
  text-decoration: none;
  font-weight: 500;
  transition: 200;
  padding-inline: var(--space-s);
  padding-block: var(--space-3xs);
  border-radius: var(--space-3xs);
}

.header a:hover {
  color: var(--color-yellow);
  background-color: var(--color-teal);
}

.header a[aria-current] {
  // indicate visually which page?
}

.header .curve {
  fill: var(--color-yellow);
  // transform: scale(-1, 1); //this is silly
}
