.header {
  padding: var(--space-m);
}

.header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header nav ul {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

// .nav__home {
//   justify-self: flex-start;
// }

.header a {
  text-decoration: none;
  font-weight: 500;
  transition: 200;
  padding-inline: var(--space-s);
  padding-block: var(--space-3xs);
  border-radius: var(--space-3xs);
}

.header a:hover {
  background-color: var(--color-yellow);
}

.header a[aria-current] {
  // indicate visually which page?
}
